[include]
	path = .gitconfig_include.proxy
[user]
	name = Ryan Bartsch
	email = rbartsch@homestart.com.au
	signingkey = 6AFC2925
[core]
	autocrlf = true
[include]
	path = .gitconfig_include.tools
[alias]
	list = diff-tree -r --name-only --no-commit-id
	last = log -1 HEAD
	bc = difftool --dir-diff --no-prompt
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ac = !git add -A && git commit
	co = checkout
	br = branch
	ci = commit
	st = status
	gs = st
	stash-unapply = !git stash show -p | git apply -R
	submodule-update = submodule update --init --recursive
	up-sub = !git submodule-update
	pullall = !git pull && git up-sub